<div id="home-page-images">
  <ul class="thumbnails">
    <li class="span8">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="" src="assets/Daisy.jpg">
      </a>
    </li>
  </ul>
</div>
<p>
  I am interested in unfolding scene design, character design and image design; representing contemporary narrative strategy, narrative shot and narrative style.
  The flowing images, which combine aesthetics and ideology.</p>

  <p>People who are honest to themselves and show kindness of strangers, inspire me the most.
  When something funny catches my eye I joke about it in a matter-of-fact way and its mostly implied humour.</p>

  <p>When in social mood, I like sharing new ideas and listening to intelligent conversations.
  I deeply value friendship, loyalty and harmony.</p>

  <p>I am approachable, curious about people as individuals and with my friends I am playful, letting myself be a little silly.
  I totally dig when the taken-for-granted everyday things are used to create dark and ridiculousness evoking our authentic emotions.</p>
</p>