<div class="half-width">
  <%= @about.html_safe %>
</div>

<div id="home-page-images">
  <ul class="thumbnails">
    <li class="span4">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="" src="assets/suros_pics/suro2.jpg">
      </a>
    </li>
    <li class="span3">
      <a href="#" class="thumbnail">
        <img data-src="holder.js/300x200" alt="" src="assets/suros_pics/suro3.jpg">
      </a>
    </li>
  </ul>
</div>
