.projects{
    list-style: none;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

.projects li .thumbnail{
    display: table;
}

.projects li .thumbnail img{
    margin-right: 10px;
}


.projects ul li{
    display: table;
}

.pagination{
    text-align: center;
}
