<div class="navbar-wrapper">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <!--<a class="brand" href="#">My Blog</a>-->
      <ul class="nav pull-right">
        <li class='<%= "#{page_on_named_route?(:home_page) ? 'active' : '' }"%>'>
          <a id="home-page-nav-link" href="/">Home</a>
        </li>
        <li class='dropdown <%= "#{page_on_any_named_route([:projects_all]) ? 'active' : '' }"%>'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            My Work
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="projects-nav-link" href="/projects">Projects</a>
            </li>
            <li>
              <a id="clients-nav-link" href="/clients">Clients</a>
            </li>
            <li>
              <a id="artworks-nav-link" href="/artwork">Artwork and design</a>
            </li>
            <li>
              <a id="exhibitions-nav-link" href="/exhibitions">Exhibitions</a>
            </li>
            <li>
              <a id="media-nav-link" href="/videos">Media</a>
            </li>
            <li>
              <a id="media-nav-link" href="/press">Press</a>
            </li>
          </ul>
        </li>
        <li class='<%= "#{page_on_named_route?(:contact_details) ? 'active' : '' }"%>'>
          <a href="/contact-details">Contact Details</a>
        </li>

      </ul>
    </div>
  </div>
</div>
