<div class="navbar-wrapper">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">My Blog</a>
      <ul class="nav pull-right">
        <li class="active">
          <a id="home-page-nav-link" href="#">Home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            My Work
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a id="projects-nav-link" href="#">Projects</a>
            </li>
            <li>
              <a id="clients-nav-link" href="#">Clients</a>
            </li>
            <li>
              <a id="artworks-nav-link" href="#">Artwork and design</a>
            </li>
            <li>
              <a id="exhibitions-nav-link" href="#">Exhibitions</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Contact Details</a>
        </li>
      </ul>
    </div>
  </div>
</div>
