<div id="overlay" class="overlay">
  <div class="xy-center-align">
    <div class="overlay-floater"></div>
    <div class="overlay-content">
      <h1><span class="label label-info">Loading...</span></h1>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
    </div>
  </div>
</div>